.data/
.workspace/
.venv/
.azure/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
**/bin/
**/obj/
*.log
.local/
terraform/**/.terraform/
terraform/**/*.tfstate
terraform/**/*.tfstate.*
terraform/**/generated.*.auto.tfvars.json
